* {
  box-sizing: border-box;
}

body {
  background-color: #eae9e9;
  position: relative;
}

.header-content span,
.main-content .items ul,
button p,
.confirm-order-content {
  font-family: "Roboto", sans-serif;
}

.header-content h1,
.main-content .items h2 {
  font-family: "Righteous", cursive;
}

.header-container {
  display: flex;
  height: 92px;
  width: 100%;
  padding: 12px 21px 15px 21px;
  background-color: #cf2b2b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #ffffff;
  font-weight: 400;
}

.header-content h1 {
  font-size: 44px;
  letter-spacing: -0.012em;
}

.header-content span {
  font-size: 18px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: calc(92px + 31px);
  margin-bottom: calc(92px - 11px);
  margin-left: 21px;
}

section .items {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.items h2 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.018em;
  margin-bottom: 17px;
}

ul {
  display: flex;
  overflow-x: scroll;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 172px;
  margin-right: 16px;
  padding: 18px 14px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  position: relative;
  cursor: pointer;
}

li img {
  width: 144px;
  height: 87px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

li h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #333333;
  margin-bottom: 10px;
}

li p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  color: #a6a6a6;
  margin-bottom: 10px;
}

li span {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

li ion-icon {
  color: #32b72f;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

footer {
  display: flex;
  height: 92px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 15px 25px;
}

footer button {
  display: inline-block;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 20px;
}

footer .on-hold {
  background-color: #cbcbcb;
  font-weight: 400;
}

footer .ending {
  background-color: #32b72f;
  font-weight: 700;
  cursor: pointer;
}

.confirm-order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% + 184px + 31px);
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  bottom: -92px;
  z-index: 3;
}

.confirm-order-content {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  height: 353px;
  padding: 25px 25px 0 25px;
  margin: auto 19px;
  background: #50d074;
  color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-size: 22px;
  letter-spacing: 0.018em;
}

.confirm-order-content h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
}

.confirm-order-content div {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-bottom: 18px;
}

.confirm-order-content .total-value {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.confirm-order-content .confirm-button {
  height: 52px;
  background: #ffffff;
  border: none;
  border-radius: 100px;
  font-size: 22px;
  font-weight: 700;
  color: #50D074;
  margin: 5px 0;
  cursor: pointer;
}

.confirm-order-content .cancel-button {
  height: 52px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}

.hidden {
  display: none;
}

.selected {
  border: #32b72f 5px solid;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  padding: 13px 9px;
}
